In [4]:
# Dependencies
#from census import Census
#from config import (census_key, gkey)
import gmaps
import numpy as np
import pandas as pd
import requests
from us import states
from scipy.stats import linregress
from matplotlib import pyplot as plt

In [15]:
#Read CSVfile: 
 #All files were merged to form one file in excel using VBA Macro, 
 #All have had the year added in excel, 
 #ALL United States Location rows removed except, for year 2014 to show some data cleaning by droping a row. 

#ONE FILE WITH ALL the states repeated by year
KFF2010to2018 = pd.read_csv("KFFData/KFFdataAllyears.csv")
#One file with all years see output below
KFF2010to2018.head(52)

,Location,Year,0-24,25-34,35-44,45-54,55+,Total
0,Alabama,2013,20.0,53.0,32.0,34.0,27.0,166.0
1,Alaska,2013,NaN,NaN,NaN,NaN,NaN,69.0
2,Arizona,2013,69.0,118.0,102.0,132.0,106.0,527.0
3,Arkansas,2013,24.0,39.0,31.0,34.0,34.0,162.0
4,California,2013,177.0,359.0,332.0,502.0,577.0,1948.0
5,Colorado,2013,67.0,88.0,84.0,100.0,94.0,433.0
6,Connecticut,2013,45.0,113.0,92.0,114.0,75.0,439.0
7,Delaware,2013,NaN,NaN,NaN,NaN,NaN,113.0
8,District of Columbia,2013,NaN,NaN,NaN,15.0,30.0,60.0
9,Florida,2013,84.0,270.0,279.0,361.0,274.0,1268.0
10,Georgia,2013,53.0,114.0,125.0,139.0,99.0,530.0
11,Hawaii,2013,NaN,NaN,NaN,NaN,NaN,69.0
12,Idaho,2013,NaN,NaN,NaN,NaN,NaN,77.0
13,Illinois,2013,141.0,286.0,217.0,262.0,166.0,1072.0
14,Indiana,2013,49.0,106.0,84.0,77.0,44.0,360.0
15,Iowa,2013,24.0,31.0,47.0,41.0,36.0,179.0
16,Kansas,2013,17.0,33.0,37.0,42.0,29.0,158.0
17,Kentucky,2013,56.0,155.0,166.0,184.0,104.0,665.0
18,Louisiana,2013,29.0,72.0,72.0,46.0,46.0,265.0
19,Maine,2013,NaN,NaN,NaN,NaN,NaN,125.0
20,Maryland,2013,71.0,198.0,145.0,210.0,124.0,749.0
21,Massachusetts,2013,75.0,246.0,214.0,243.0,110.0,888.0
22,Michigan,2013,99.0,232.0,182.0,232.0,164.0,909.0
23,Minnesota,2013,34.0,77.0,56.0,83.0,55.0,305.0
24,Mississippi,2013,NaN,NaN,NaN,NaN,NaN,100.0
25,Missouri,2013,67.0,144.0,158.0,161.0,90.0,620.0
26,Montana,2013,NaN,12.0,16.0,26.0,NaN,67.0
27,Nebraska,2013,NaN,NaN,NaN,13.0,10.0,41.0
28,Nevada,2013,34.0,75.0,64.0,114.0,111.0,398.0
29,New Hampshire,2013,17.0,35.0,33.0,45.0,27.0,157.0
30,New Jersey,2013,95.0,180.0,133.0,178.0,89.0,675.0
31,New Mexico,2013,34.0,59.0,76.0,84.0,68.0,322.0
32,New York,2013,208.0,399.0,312.0,426.0,336.0,1681.0
33,North Carolina,2013,74.0,182.0,221.0,239.0,118.0,834.0
34,North Dakota,2013,NaN,NaN,NaN,NaN,NaN,11.0
35,Ohio,2013,130.0,432.0,372.0,455.0,241.0,1630.0
36,Oklahoma,2013,48.0,87.0,100.0,149.0,127.0,511.0
37,Oregon,2013,22.0,55.0,72.0,69.0,83.0,301.0
38,Pennsylvania,2013,112.0,290.0,212.0,209.0,135.0,958.0
39,Rhode Island,2013,13.0,42.0,39.0,68.0,28.0,190.0
40,South Carolina,2013,12.0,49.0,63.0,78.0,45.0,247.0
41,South Dakota,2013,NaN,NaN,NaN,13.0,NaN,34.0
42,Tennessee,2013,53.0,149.0,198.0,210.0,157.0,767.0
43,Texas,2013,149.0,248.0,210.0,236.0,210.0,1053.0
44,Utah,2013,55.0,120.0,91.0,98.0,68.0,432.0
45,Vermont,2013,NaN,NaN,NaN,NaN,NaN,70.0
46,Virginia,2013,59.0,187.0,143.0,151.0,100.0,640.0
47,Washington,2013,51.0,127.0,137.0,166.0,159.0,640.0
48,West Virginia,2013,32.0,131.0,125.0,132.0,70.0,490.0
49,Wisconsin,2013,83.0,149.0,126.0,138.0,103.0,599.0
50,Wyoming,2013,NaN,NaN,13.0,13.0,NaN,48.0
51,United States,2014,2770.0,7028.0,6338.0,6987.0,5522.0,28647.0

In [7]:
#Find index of row with United States 
USLOCindex = KFF2010to2018.loc[KFF2010to2018["Location"] == "United States"]
USLOCindex

         Location  Year    0-24   25-34   35-44   45-54     55+    Total
51  United States  2014  2770.0  7028.0  6338.0  6987.0  5522.0  28647.0

In [14]:
#Cleanup: Drop United States from the first row/Index 0
KFFAllYears_DF = KFF2010to2018.drop([KFF2010to2018.index[51]])
KFFAllYears_DF = KFFAllYears_DF.reset_index(drop=True)
KFFAllYears_DF.head(52)

                Location  Year   0-24  25-34  35-44  45-54    55+   Total
0                Alabama  2013   20.0   53.0   32.0   34.0   27.0   166.0
1                 Alaska  2013    NaN    NaN    NaN    NaN    NaN    69.0
2                Arizona  2013   69.0  118.0  102.0  132.0  106.0   527.0
3               Arkansas  2013   24.0   39.0   31.0   34.0   34.0   162.0
4             California  2013  177.0  359.0  332.0  502.0  577.0  1948.0
5               Colorado  2013   67.0   88.0   84.0  100.0   94.0   433.0
6            Connecticut  2013   45.0  113.0   92.0  114.0   75.0   439.0
7               Delaware  2013    NaN    NaN    NaN    NaN    NaN   113.0
8   District of Columbia  2013    NaN    NaN    NaN   15.0   30.0    60.0
9                Florida  2013   84.0  270.0  279.0  361.0  274.0  1268.0
10               Georgia  2013   53.0  114.0  125.0  139.0   99.0   530.0
11                Hawaii  2013    NaN    NaN    NaN    NaN    NaN    69.0
12                 Idaho  2013    NaN    NaN    NaN    NaN    NaN    77.0
13              Illinois  2013  141.0  286.0  217.0  262.0  166.0  1072.0
14               Indiana  2013   49.0  106.0   84.0   77.0   44.0   360.0
15                  Iowa  2013   24.0   31.0   47.0   41.0   36.0   179.0
16                Kansas  2013   17.0   33.0   37.0   42.0   29.0   158.0
17              Kentucky  2013   56.0  155.0  166.0  184.0  104.0   665.0
18             Louisiana  2013   29.0   72.0   72.0   46.0   46.0   265.0
19                 Maine  2013    NaN    NaN    NaN    NaN    NaN   125.0
20              Maryland  2013   71.0  198.0  145.0  210.0  124.0   749.0
21         Massachusetts  2013   75.0  246.0  214.0  243.0  110.0   888.0
22              Michigan  2013   99.0  232.0  182.0  232.0  164.0   909.0
23             Minnesota  2013   34.0   77.0   56.0   83.0   55.0   305.0
24           Mississippi  2013    NaN    NaN    NaN    NaN    NaN   100.0
25              Missouri  2013   67.0  144.0  158.0  161.0   90.0   620.0
26               Montana  2013    NaN   12.0   16.0   26.0    NaN    67.0
27              Nebraska  2013    NaN    NaN    NaN   13.0   10.0    41.0
28                Nevada  2013   34.0   75.0   64.0  114.0  111.0   398.0
29         New Hampshire  2013   17.0   35.0   33.0   45.0   27.0   157.0
30            New Jersey  2013   95.0  180.0  133.0  178.0   89.0   675.0
31            New Mexico  2013   34.0   59.0   76.0   84.0   68.0   322.0
32              New York  2013  208.0  399.0  312.0  426.0  336.0  1681.0
33        North Carolina  2013   74.0  182.0  221.0  239.0  118.0   834.0
34          North Dakota  2013    NaN    NaN    NaN    NaN    NaN    11.0
35                  Ohio  2013  130.0  432.0  372.0  455.0  241.0  1630.0
36              Oklahoma  2013   48.0   87.0  100.0  149.0  127.0   511.0
37                Oregon  2013   22.0   55.0   72.0   69.0   83.0   301.0
38          Pennsylvania  2013  112.0  290.0  212.0  209.0  135.0   958.0
39          Rhode Island  2013   13.0   42.0   39.0   68.0   28.0   190.0
40        South Carolina  2013   12.0   49.0   63.0   78.0   45.0   247.0
41          South Dakota  2013    NaN    NaN    NaN   13.0    NaN    34.0
42             Tennessee  2013   53.0  149.0  198.0  210.0  157.0   767.0
43                 Texas  2013  149.0  248.0  210.0  236.0  210.0  1053.0
44                  Utah  2013   55.0  120.0   91.0   98.0   68.0   432.0
45               Vermont  2013    NaN    NaN    NaN    NaN    NaN    70.0
46              Virginia  2013   59.0  187.0  143.0  151.0  100.0   640.0
47            Washington  2013   51.0  127.0  137.0  166.0  159.0   640.0
48         West Virginia  2013   32.0  131.0  125.0  132.0   70.0   490.0
49             Wisconsin  2013   83.0  149.0  126.0  138.0  103.0   599.0
50               Wyoming  2013    NaN    NaN   13.0   13.0    NaN    48.0
51               Alabama  2014   25.0   70.0   56.0   66.0   53.0   270.0

### Note: Some Values have NAN in the cells but have a total.  Due to confidentiality reasons, the values were not included in the AGE group columns for the State, but a total is still included by state of all ages. WE need(ed) to decide if we want to to drop the entire row or only drop if all values in the row is NAN.

In [27]:
#This would drop the entire row removing the state from the list if ANY rows contain NAN
KFFCleanedANY= KFFAllYears_DF.dropna() 
KFFCleanedANY

          Location  Year   0-24  25-34  35-44  45-54    55+   Total
0          Alabama  2013   20.0   53.0   32.0   34.0   27.0   166.0
2          Arizona  2013   69.0  118.0  102.0  132.0  106.0   527.0
3         Arkansas  2013   24.0   39.0   31.0   34.0   34.0   162.0
4       California  2013  177.0  359.0  332.0  502.0  577.0  1948.0
5         Colorado  2013   67.0   88.0   84.0  100.0   94.0   433.0
..             ...   ...    ...    ...    ...    ...    ...     ...
452           Utah  2010   59.0   95.0   73.0   74.0   35.0   336.0
454       Virginia  2010   44.0   99.0  100.0  110.0   36.0   389.0
455     Washington  2010   62.0  106.0  118.0  207.0  135.0   628.0
456  West Virginia  2010   43.0  110.0  131.0  114.0   53.0   451.0
457      Wisconsin  2010   41.0   93.0   93.0  123.0   65.0   415.0

[361 rows x 8 columns]

In [26]:
#This would ONLY drop the entire row removing the state from the list if ALL rows contain NAN
KFFCleanedAll= KFFAllYears_DF.dropna(how = 'all') 
KFFCleanedAll

          Location  Year   0-24  25-34  35-44  45-54    55+   Total
0          Alabama  2013   20.0   53.0   32.0   34.0   27.0   166.0
1           Alaska  2013    NaN    NaN    NaN    NaN    NaN    69.0
2          Arizona  2013   69.0  118.0  102.0  132.0  106.0   527.0
3         Arkansas  2013   24.0   39.0   31.0   34.0   34.0   162.0
4       California  2013  177.0  359.0  332.0  502.0  577.0  1948.0
..             ...   ...    ...    ...    ...    ...    ...     ...
454       Virginia  2010   44.0   99.0  100.0  110.0   36.0   389.0
455     Washington  2010   62.0  106.0  118.0  207.0  135.0   628.0
456  West Virginia  2010   43.0  110.0  131.0  114.0   53.0   451.0
457      Wisconsin  2010   41.0   93.0   93.0  123.0   65.0   415.0
458        Wyoming  2010    NaN   11.0   13.0   14.0    NaN    47.0

[459 rows x 8 columns]